@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0; }

/*mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    background: #535353;
    background: linear-gradient(180deg, #535353 11%, #d0d0d0 97%, white 100%); }
  .navhambur {
    display: initial;
    border-radius: 0px 0px 10px 10px;
    background: #9E9E9E;
    padding: 5px;
    width: auto; }
  .nav {
    display: none; }
  .img {
    display: none; }
  .img-nav-hambur {
    height: 50px;
    margin-bottom: 5px;
    margin-left: 25px; }
  /* Inicio-index*/
  #indexGrid__box {
    height: auto;
    z-index: 1;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 180px 300px 200px;
    grid-template-areas: "section" "imagen" "logos";
    justify-content: center;
    grid-row-gap: 15px;
    padding-bottom: 45px;
    padding-top: 75px; }
  .section__box {
    color: #fff;
    background-color: #9E9E9E;
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px 5px 5px 5px; }
  .section__text {
    font-family: "Source Sans Pro" "sans-serif";
    font-size: 18px;
    color: #6D0000; }
  .section__titulo {
    font-size: 17px;
    font-family: "Montserrat"; }
  .imagenpapel_box {
    background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
    background-position: cover;
    background-size: 400px 300px;
    border-radius: 5px 5px 5px 5px;
    grid-area: imagen; }
  .logosinicio__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    grid-area: logos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between; }
  .logos__yamaha {
    height: 65px; }
  .logos__allen {
    height: 18px;
    align-self: center;
    margin-bottom: 15px; }
  .logos__beringer {
    height: 100px;
    margin-top: 15px; }
  .logos__shure {
    height: 35px;
    align-self: center;
    margin-right: 25px; }
  .footer__box {
    background-color: #6D0000;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer__rubro {
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center; }
  .redesSociales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px; }
  .footer__titulo {
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px; }
  .footer__insta__logo {
    width: 20px; }
  .footer__face__logo {
    width: 35px; }
  /* empresa*/
  .grid__empresa__box {
    margin-top: 90px; }
  /* empresa-quienes somos*/
  .quienesSomos__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; }
  .quienessomosimg {
    width: 150px; }
  .card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .quehacemosimg {
    width: 160px; }
  .empresaTitulos {
    font-size: 17px;
    font-family: "Montserrat"; }
  .empresaParrafo {
    font-size: 16px;
    font-family: "Source Sans Pro" "sans-serif"; }
  /* galeria */
  #grid__galeria__box {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 260px 440px;
    grid-template-areas: "imagenes" "videos";
    grid-row-gap: 15px;
    z-index: 2;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 15px;
    height: auto; }
  /* galeria-Imagenes */
  .section__img__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px; }
  .section__img__titulo {
    font-family: "Montserrat";
    color: #575757;
    font-size: 18px;
    display: flex;
    justify-content: center; }
  .img1 {
    height: 200px;
    object-fit: contain; }
  .img2 {
    height: 200px;
    object-fit: contain; }
  .img3 {
    height: 200px;
    object-fit: contain; }
  .img4 {
    height: 200px;
    object-fit: contain; }
  /* galeria-Videos */
  .section__video__box {
    border-radius: 5px;
    grid-area: videos;
    padding: 10px 10px 0px 10px;
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 35px 200px 200px;
    grid-template-areas: "videoTitulo" "videoTimelapse" "videoIframe";
    padding-bottom: 5px;
    background-color: #9E9E9E; }
  .section__video__titulo {
    font-family: "Montserrat";
    color: #575757;
    grid-area: videoTitulo;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    font-size: 18px; }
  .section__video__timelapse {
    background-color: #575757;
    height: 180px;
    width: 290px;
    grid-area: videoTimelapse; }
  .section__video__iframe {
    grid-area: videoIframe;
    width: 290px;
    height: 160px; }
  /* tecninca */
  #grid__tecnica {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 30px 280px 280px 290px 270px;
    grid-template-areas: "tituloTecnico" "sonido" "iluminacion" "escenario" "pantallaLed";
    grid-row-gap: 15px;
    padding-top: 90px;
    padding-bottom: 15px;
    justify-content: center; }
  .tecnica__titulo {
    font-family: "Montserrat";
    font-size: 22px;
    color: #6D0000;
    grid-area: tituloTecnico;
    justify-self: center;
    align-self: center; }
  /* Tecnica-sonido*/
  .tecnica__sonido__box {
    grid-area: sonido;
    border-radius: 5px;
    background-color: #9E9E9E; }
  .tecnica__sonido__titulo {
    font-size: 20px;
    color: #6D0000;
    font-family: "Montserrat";
    align-self: center; }
  .imgSq7 {
    height: 230px;
    object-fit: contain; }
  .imgArray {
    height: 230px;
    object-fit: contain; }
  .imgCrown {
    height: 230px;
    object-fit: contain; }
  /* Tecnica-iluminacion*/
  .tecnica__iluminacion__box {
    background-color: #9E9E9E;
    grid-area: iluminacion;
    border-radius: 5px; }
  .tecnica__iluminacion__titulo {
    font-family: "Montserrat";
    color: #6D0000;
    font-size: 20px;
    align-self: center; }
  .imgBeam {
    height: 230px;
    object-fit: contain; }
  .img543 {
    height: 230px;
    object-fit: contain; }
  /* Tecnica-escenario*/
  .plantaEscenario__box {
    background-color: #9E9E9E;
    grid-area: escenario;
    border-radius: 5px; }
  .plantaEscenario__titulo {
    font-family: "Montserrat";
    font-size: 20px;
    color: #6D0000;
    align-self: center; }
  .imgPachera {
    height: 230px;
    object-fit: contain; }
  .imgCanon {
    height: 230px;
    object-fit: contain; }
  .imgsm58 {
    height: 230px;
    object-fit: contain; }
  .imgsm57 {
    height: 230px;
    object-fit: contain; }
  .imgPiemicro {
    height: 230px;
    object-fit: contain; }
  /* Tecnica-PantallaLed*/
  .pantallaLed__box {
    background-color: #9E9E9E;
    grid-area: pantallaLed;
    border-radius: 5px; }
  .pantallaLed__titulo {
    font-family: "Montserrat";
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: #6D0000; }
  .pantallaLed__imagen {
    width: 280px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    object-fit: fill;
    height: 200px; }
  /* contacto */
  #grid__contacto {
    height: 100vh;
    grid-template-columns: 310px;
    grid-template-rows: 500px;
    grid-template-areas: "fieldset";
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 80px; }
  .fieldset {
    grid-area: fieldset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: auto;
    height: auto;
    border: 0.5px solid #BBB9B9;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #BBB9B9;
    font-family: "Source Sans Pro" "sans-serif"; }
  .contacto__titulo {
    font-family: "Montserrat";
    font-weight: bold;
    color: #6D0000;
    justify-self: center;
    align-self: center;
    font-size: 19px; }
  .butonEnviar {
    width: 100px;
    align-self: center; } }

/*tablet*/
@media (min-width: 768px) and (max-width: 1100px) {
  body {
    background: #535353;
    background: linear-gradient(180deg, #535353 11%, #d0d0d0 97%, white 100%); }
  .navhambur {
    display: initial;
    border-radius: 0px 0px 10px 10px;
    background: #9E9E9E;
    padding: 0px;
    width: auto; }
  .nav {
    display: none; }
  .img {
    display: none; }
  .img-nav-hambur {
    height: 65px;
    margin-bottom: 5px;
    margin-left: 25px; }
  /* Inicio-index*/
  #indexGrid__box {
    height: auto;
    z-index: 1;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 300px 400px 200px;
    grid-template-areas: "section" "imagen" "logos";
    justify-content: center;
    grid-row-gap: 15px;
    padding-bottom: 45px; }
  .section__box {
    color: #fff;
    background-color: #9E9E9E;
    grid-area: section;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px 5px 5px 5px; }
  .section__text {
    font-family: "Source Sans Pro" "sans-serif";
    font-size: 25px;
    color: #6D0000; }
  .section__titulo {
    font-size: 35px;
    font-family: "Montserrat"; }
  .imagenpapel_box {
    background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
    background-position: cover;
    background-size: 720px 400px;
    border-radius: 5px 5px 5px 5px;
    grid-area: imagen; }
  .logosinicio__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    grid-area: logos;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .logos__yamaha {
    height: 75px; }
  .logos__allen {
    height: 23px;
    margin-top: 15px;
    justify-self: left; }
  .logos__beringer {
    height: 130px;
    justify-self: center; }
  .logos__shure {
    height: 40px;
    align-self: center; }
  .footer__box {
    background-color: #6D0000;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer__rubro {
    color: #fff;
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center; }
  .redesSociales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px; }
  .footer__titulo {
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px; }
  .footer__insta__logo {
    width: 25px; }
  .footer__face__logo {
    width: 40px; }
  /* empresa*/
  .grid__empresa__box {
    margin-top: 90px; }
  /* empresa-quienes somos*/
  .quienesSomos__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px; }
  .quienessomosimg {
    width: 220px; }
  .card-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px; }
  .quehacemosimg {
    width: 250px; }
  .empresaTitulos {
    font-size: 21px;
    font-family: "Montserrat"; }
  .empresaParrafo {
    font-size: 18px;
    font-family: "Source Sans Pro" "sans-serif"; }
  /* galeria */
  #grid__galeria__box {
    height: auto;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 480px 750px;
    grid-template-areas: "imagenes" "videos";
    grid-row-gap: 15px;
    z-index: 2;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 15px; }
  /* galeria-Imagenes */
  .section__img__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    grid-area: imagenes;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px; }
  .section__img__titulo {
    font-family: "Montserrat";
    font-size: 25px;
    color: #575757;
    display: flex;
    justify-content: center; }
  .img1 {
    height: 400px;
    object-fit: contain; }
  .img2 {
    height: 400px;
    object-fit: contain; }
  .img3 {
    height: 400px;
    object-fit: contain; }
  .img4 {
    height: 400px;
    object-fit: contain; }
  /* galeria-Videos */
  .section__video__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    grid-area: videos;
    padding: 10px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 680px;
    grid-template-rows: 45px 320px 320px;
    grid-template-areas: "videoTitulo" "videoTimelapse" "videoIframe"; }
  .section__video__titulo {
    font-family: "Montserrat";
    font-size: 25px;
    color: #575757;
    grid-area: videoTitulo;
    justify-self: center;
    align-self: center; }
  .section__video__timelapse {
    background-color: #575757;
    width: 620px;
    height: 320px;
    grid-area: videoTimelapse;
    justify-self: center; }
  .section__video__iframe {
    grid-area: videoIframe;
    width: 620px;
    height: 320px;
    justify-self: center; }
  /* tecninca */
  #grid__tecnica {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 55px 600px 550px 600px 480px;
    grid-template-areas: "tituloTecnico" "sonido" "iluminacion" "escenario" "pantallaLed";
    grid-row-gap: 15px;
    padding-top: 95px;
    padding-bottom: 15px;
    justify-content: center; }
  .tecnica__titulo {
    font-family: "Montserrat";
    font-size: 28px;
    color: #6D0000;
    grid-area: tituloTecnico;
    justify-self: center; }
  /* Tecnica-sonido*/
  .tecnica__sonido__box {
    grid-area: sonido;
    border-radius: 5px;
    background-color: #9E9E9E; }
  .tecnica__sonido__titulo {
    font-size: 28px;
    color: #6D0000;
    font-family: "Montserrat";
    align-self: center; }
  .imgSq7 {
    height: 450px;
    object-fit: contain; }
  .imgArray {
    height: 450px;
    object-fit: contain; }
  .imgCrown {
    height: 450px;
    object-fit: contain; }
  /* Tecnica-iluminacion*/
  .tecnica__iluminacion__box {
    background-color: #9E9E9E;
    grid-area: iluminacion;
    border-radius: 5px; }
  .tecnica__iluminacion__titulo {
    font-family: "Montserrat";
    color: #6D0000;
    font-size: 28px;
    align-self: center; }
  .imgBeam {
    height: 450px;
    object-fit: contain; }
  .img543 {
    height: 450px;
    object-fit: contain; }
  /* Tecnica-escenario*/
  .plantaEscenario__box {
    background-color: #9E9E9E;
    grid-area: escenario;
    border-radius: 5px; }
  .plantaEscenario__titulo {
    font-family: "Montserrat";
    font-size: 28px;
    color: #6D0000;
    align-self: center; }
  .imgPachera {
    height: 450px;
    object-fit: contain; }
  .imgCanon {
    height: 450px;
    object-fit: fill; }
  .imgsm58 {
    height: 450px;
    object-fit: contain; }
  .imgsm57 {
    height: 450px;
    object-fit: contain; }
  .imgPiemicro {
    height: 450px;
    object-fit: contain; }
  /* Tecnica-PantallaLed*/
  .pantallaLed__box {
    background-color: #9E9E9E;
    grid-area: pantallaLed;
    border-radius: 5px; }
  .pantallaLed__titulo {
    font-family: "Montserrat";
    justify-self: center;
    align-self: center;
    font-size: 28px;
    color: #6D0000; }
  .pantallaLed__imagen {
    width: 600px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    object-fit: fill;
    height: 350px; }
  /* contacto */
  #grid__contacto {
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 645px;
    grid-template-areas: "fieldset";
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    height: 100vh; }
  .fieldset {
    grid-area: fieldset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid #BBB9B9;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #BBB9B9;
    font-family: "Source Sans Pro" "sans-serif"; }
  .contacto__titulo {
    font-family: "Montserrat";
    font-weight: bold;
    color: #6D0000;
    justify-self: center;
    align-self: center;
    font-size: 23px; }
  .butonEnviar {
    width: 150px;
    align-self: center; } }

/*desktop*/
@media (min-width: 1100px) {
  header {
    background: #9E9E9E;
    border-radius: 0px 0px 10px 10px;
    width: auto; }
  body {
    background: #535353;
    background: linear-gradient(180deg, #535353 11%, #d0d0d0 97%, white 100%); }
  .navcustom {
    margin-bottom: 10px;
    margin-right: 50px;
    font-family: "Source Sans Pro" "sans-serif"; }
  .img {
    height: 80px;
    margin-left: 35px;
    margin-bottom: 5px; }
  .navhambur {
    display: none; }
  .link-color {
    color: #6D0000;
    font-size: 21px; }
    .link-color:hover {
      color: #000; }
  .navdesktop {
    margin-right: 50px; }
  /* Inicio-index*/
  #indexGrid__box {
    width: auto;
    height: auto;
    z-index: 1;
    display: grid;
    grid-template-columns: 1100px;
    grid-template-rows: 400px 600px 270px;
    grid-template-areas: "section" "imagen" "logos";
    justify-content: center;
    grid-row-gap: 15px;
    padding-bottom: 40px;
    padding-top: 35px; }
  .section__box {
    color: #fff;
    background-color: #9E9E9E;
    grid-area: section;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px 5px 5px 5px; }
  .section__titulo {
    font-size: 55px;
    font-family: "Montserrat"; }
  .section__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #6D0000; }
  .imagenpapel_box {
    display: flex;
    flex-wrap: nowrap;
    background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
    background-position: cover;
    background-size: 1100px 600px;
    border-radius: 5px 5px 5px 5px;
    grid-area: imagen; }
  .logosinicio__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    grid-area: logos;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .logos__yamaha {
    height: 95px; }
  .logos__allen {
    height: 32px;
    margin-top: 15px;
    justify-self: left; }
  .logos__beringer {
    height: 160px;
    justify-self: center; }
  .logos__shure {
    height: 50px;
    align-self: center; }
  .footer__box {
    background-color: #6D0000;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer__rubro {
    color: #fff;
    font-family: "Montserrat";
    font-size: 24px; }
  .redesSociales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .footer__titulo {
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px; }
  .footer__insta__logo {
    width: 30px; }
  .footer__face__logo {
    width: 45px; }
  /* empresa*/
  .grid__empresa__box {
    margin-top: 95px;
    height: 100vh;
    display: flex;
    justify-content: center; }
  /* empresa-quienes somos*/
  .quienesSomos__box {
    background-color: #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .quienessomosimg {
    width: 300px; }
  .card-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px; }
  .quehacemosimg {
    width: 300px; }
  .empresaTitulos {
    font-size: 28px;
    font-family: "Montserrat"; }
  .empresaParrafo {
    font-size: 22px;
    font-family: "Source Sans Pro" "sans-serif"; }
  /* galeria */
  #grid__galeria__box {
    height: auto;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 710px 950px;
    grid-template-areas: "imagenes" "videos";
    grid-row-gap: 15px;
    z-index: 2;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 20px; }
  /* galeria-Imagenes */
  .section__img__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    grid-area: imagenes;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px; }
  .section__img__titulo {
    font-family: "Montserrat";
    font-size: 32px;
    color: #575757;
    display: flex;
    justify-content: center;
    align-items: center; }
  .img1 {
    height: 600px;
    object-fit: contain; }
  .img2 {
    height: 600px;
    object-fit: contain; }
  .img3 {
    height: 600px;
    object-fit: contain; }
  .img4 {
    height: 600px;
    object-fit: contain; }
  /* galeria-Videos */
  .section__video__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    grid-area: videos;
    padding: 10px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 950px;
    grid-template-rows: 60px 420px 420px;
    grid-template-areas: "videoTitulo" "videoTimelapse" "videoIframe";
    justify-content: center; }
  .section__video__titulo {
    font-family: "Montserrat";
    font-size: 32px;
    color: #575757;
    grid-area: videoTitulo;
    justify-self: center;
    align-self: center; }
  .section__video__timelapse {
    background-color: #575757;
    width: 800px;
    height: 420px;
    grid-area: videoTimelapse;
    justify-self: center; }
  .section__video__iframe {
    grid-area: videoIframe;
    width: 800px;
    height: 420px;
    justify-self: center; }
  /* tecninca */
  #grid__tecnica {
    display: grid;
    grid-template-columns: 1100px;
    grid-template-rows: 45px 810px 680px 700px 550px;
    grid-template-areas: "tituloTecnico" "sonido" "iluminacion" "escenario" "pantallaLed";
    grid-row-gap: 15px;
    padding-top: 120px;
    padding-bottom: 20px;
    justify-content: center; }
  .tecnica__titulo {
    font-family: "Montserrat";
    font-size: 33px;
    grid-area: tituloTecnico;
    justify-self: center; }
  /* Tecnica-sonido*/
  .tecnica__sonido__box {
    grid-area: sonido;
    border-radius: 5px;
    background-color: #9E9E9E; }
  .tecnica__sonido__titulo {
    font-size: 30px;
    font-family: "Montserrat";
    align-self: center; }
  .imgSq7 {
    height: 650px;
    object-fit: contain; }
  .imgArray {
    height: 650px;
    object-fit: contain; }
  .imgCrown {
    height: 650px;
    object-fit: contain; }
  /* Tecnica-iluminacion*/
  .tecnica__iluminacion__box {
    background-color: #9E9E9E;
    grid-area: iluminacion;
    border-radius: 5px; }
  .tecnica__iluminacion__titulo {
    font-family: "Montserrat";
    font-size: 30px;
    align-self: center; }
  .imgBeam {
    height: 550px;
    object-fit: contain; }
  .img543 {
    height: 550px;
    object-fit: contain; }
  /* Tecnica-escenario*/
  .plantaEscenario__box {
    background-color: #9E9E9E;
    grid-area: escenario;
    border-radius: 5px; }
  .plantaEscenario__titulo {
    font-family: "Montserrat";
    font-size: 28px;
    align-self: center; }
  .imgPachera {
    height: 520px;
    object-fit: contain; }
  .imgCanon {
    height: 520px;
    object-fit: contain; }
  .imgsm58 {
    height: 520px;
    object-fit: contain; }
  .imgsm57 {
    height: 520px;
    object-fit: contain; }
  .imgPiemicro {
    height: 520px;
    width: 500px;
    object-fit: contain; }
  /* Tecnica-PantallaLed*/
  .pantallaLed__box {
    background-color: #9E9E9E;
    border-radius: 5px;
    grid-area: pantallaLed;
    display: grid;
    grid-template-columns: 1100px;
    grid-template-rows: 40px 420px;
    grid-template-areas: "pantallaLedTitulo" "pantallaLedimg";
    grid-row-gap: 5px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px; }
  .pantallaLed__titulo {
    font-family: "Montserrat";
    grid-area: pantallaLedTitulo;
    justify-self: center;
    align-self: center;
    font-size: 29px; }
  .pantallaLed__imagen {
    width: 820px;
    height: 410px;
    grid-area: pantallaLedimg;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    object-fit: fill; }
  /* contacto */
  #grid__contacto {
    height: 100vh;
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 745px;
    grid-template-areas: "fieldset";
    justify-content: center;
    align-items: center;
    padding-top: 90px; }
  .fieldset {
    grid-area: fieldset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid #BBB9B9;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #BBB9B9;
    font-family: "Source Sans Pro" "sans-serif"; }
  .contacto__titulo {
    font-family: "Montserrat";
    font-weight: bold;
    color: #6D0000;
    justify-self: center;
    align-self: center;
    font-size: 26px; }
  .butonEnviar {
    width: 150px;
    align-self: center; } }
