* {
    padding: 0;
    margin: 0;    
}

@font-face {
    font-family: 'catamaran';
    src: url(../fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
    font-family: url(../fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf);
}



/*mobile*/
 
@media (min-width: 320px) and (max-width: 768px) {
        body {
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        .navhambur {
            display: initial;
            border-radius: 0px 0px 10px 10px;
            background: #9E9E9E;
            padding: 5px;
        }
        .nav {
            display: none;
        }
        .img {
            display: none;
        }
        .img-nav-hambur {
            height: 50px;
            margin-bottom: 5px;
            margin-left: 25px;
        }
        .butonNav {
            margin-right: 15px;
        }
        /* Inicio-index*/
        #indexGrid__box {
            width: 100vw;
            height: auto;  
            z-index: 1;
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: 250px 300px 200px;
            grid-template-areas: 
            "section"
            "imagen"
            "logos";
            justify-content: center;
            grid-row-gap:15px;
            padding-bottom: 45px;
        
        }
        .section__box {
            color: #fff;
            background-color: #9E9E9E;
            grid-area: section; 
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 5px 5px 5px 5px;
        }
        .section__text {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;  
            color: #6D0000;       
        }
        .section__titulo {
            font-size:18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        .imagenpapel_box {
            display: flex;
            flex-wrap: nowrap;
            background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
            background-position: cover;
            background-size: 400px 300px;
            border-radius: 5px 5px 5px 5px;
            grid-area: imagen;
        }
        .logosinicio__box {
            background-color: #9E9E9E;
            width: auto;
            height: auto;
            border-radius: 5px 5px 5px 5px; 
            grid-area: logos;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: space-between;
        }
        .logos__yamaha {
            height: 65px;
        }
        .logos__allen {
            height: 18px;
            align-self: center;
            margin-bottom: 15px;
        }
        .logos__beringer {
            height: 100px;
            margin-top: 15px;
        }
        .logos__shure {
            height: 35px;
            align-self: center;
            margin-right: 25px;
             
        }
        .footer__box {
            background-color: #6D0000;
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            z-index: 9999;
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
        } 
        .footer__rubro {
            color: #fff;
            font-family: 'catamaran';
            font-size: 16px;
            margin-left: 15px;
        }
        .redesSociales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer__titulo {
            color: #fff;
            font-family: 'catamaran';
            font-size: 15px;
        }
        .footer__insta {
            color: #fff;
            font-family: 'catamaran';
            font-size: 15px;
        }
        .footer__face {
            color: #fff;
            font-family: 'catamaran';
            font-size: 15px;
        }
        /* empresa*/
        .grid__empresa__box {
            padding-top: 90px;
            padding-bottom: 15px;
        }
        /* empresa-quienes somos*/
        .quienesSomos__box {
            background-color: #9E9E9E;   
            border-radius: 5px 5px 5px 5px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card-1 {
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .quienessomosimg {
            width: 150px;
        }
        .card-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .quehacemosimg {
            width: 160px;
        }
        .empresaTitulos {
            font-size: 17px;
        }
        .empresaParrafo {
            font-size: 16px;
        }
        /* galeria */
        #grid__galeria__box {
            width: 100vw;
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: 280px 440px;
            grid-template-areas: 
            "imagenes"
            "videos";
            grid-row-gap: 15px;
            z-index: 2;
            justify-content: center;
            padding-top: 90px;
            padding-bottom: 15px;
            height: auto;
        }
        /* galeria-Imagenes */
        .section__img__box {
            background-color: #9E9E9E;
            border-radius: 5px;  
            width: auto;
            height: auto;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
          
        }
        .section__img__titulo {
            font-family: 'Catamaran', sans-serif;
            color: #575757;
            font-size: 25px;
            display: flex;
            justify-content: center;
        }
        .img1 {
            height: 200px;
            object-fit: contain;
        }
        .img2 {
            height: 200px;
            object-fit: contain;
        }
        .img3 {
            height: 200px;
            object-fit: contain;
        }
        .img4 {
            height: 200px;
            object-fit: contain;
        }
        /* galeria-Videos */
        .section__video__box {
            border-radius: 5px;
            grid-area: videos;
            padding: 10px 10px 0px 10px;
            display: grid;
            grid-template-columns: 310px;
            grid-template-rows: 50px 200px 200px;
            grid-template-areas: 
            "videoTitulo"
            "videoTimelapse"
            "videoIframe";
            padding-bottom: 5px;
            background-color: #9E9E9E;
        }
        .section__video__titulo {
            font-family: 'Catamaran', sans-serif;
            color: #575757;
            grid-area: videoTitulo;
            justify-self: center;
            margin-right: 20px;
            font-size: 25px;
        }
        .section__video__timelapse {
            background-color: #575757; 
            height: 180px;
            width: 290px;
            grid-area: videoTimelapse;
        }
        .section__video__iframe {
            grid-area: videoIframe;
            width: 290px;
            height: 160px;
        }
        /* tecninca */
        #grid__tecnica {
            display: grid;
            grid-template-columns: 310px;
            grid-template-rows: 30px 850px 620px 1400px 280px;
            grid-template-areas:
            "tituloTecnico"
            "sonido"
            "iluminacion"
            "escenario"
            "pantallaLed";
            grid-row-gap: 15px;
            padding-top: 90px;
            padding-bottom: 15px;
            justify-content: center;  
        }
        .tecnica__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 22px;
            color: #6D0000;
            grid-area: tituloTecnico;
            justify-self: center;
        }
        /* Tecnica-sonido*/
        .tecnica__sonido__box{
            grid-area: sonido;
            border-radius: 5px;
            display: grid;
            grid-row-gap: 5px;
            padding-top: 5px;
            grid-template-columns: 300px;
            grid-template-rows: 20px 20px 250px 20px 250px 20px 200px;
            grid-template-areas:
            "tituloSonido"
            "arraytext"
            "arrayimg"
            "sq7text"
            "sq7img"
            "racktext"
            "rackimg";
            justify-content: center;
            background-color: #9E9E9E;
        }
        .tecnica__sonido__titulo {
            font-size: 20px;
            grid-area: tituloSonido;
            justify-self: center;
            align-self: center;
            color: #6D0000;
            font-family: 'Catamaran', sans-serif;
        }
        .linearray__text {
            font-size: 19px;
            grid-area: arraytext;
            justify-self: center;
            color: #575757;
        }
        .tecnica_sonido__linearray__img {
            background-color: #fff;
            border-radius: 5px;
            width: 220px;
            height: 250px;  
            grid-area: arrayimg; 
            justify-self: center;
            align-self: center;
        }
        .sq7__text {
            font-size: 20px;
            grid-area: sq7text;
            justify-self: center;
            color: #575757;
        }
        .tecnica__sonido__sq7__img {
            border-radius: 5px;
            height: 250px; 
            grid-area: sq7img;
            justify-self: center;
            align-self: center;
            object-fit: fill;
            width: 280px;
        }
        .potencias__text {
            font-size: 21px;
            z-index: 13;
            grid-area: racktext;
            justify-self: center;
            color: #575757;
        }
        .tecnica__sonido__rack__img {
            border-radius: 5px;;
            height: 180px;  
            grid-area: rackimg; 
            justify-self: center;
            align-self: center;
            object-fit: fill;
            width: 300px;
        }
        /* Tecnica-iluminacion*/
        .tecnica__iluminacion__box {
            background-color: #9E9E9E;
            grid-area: iluminacion;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 26px 25px 250px 25px 250px ;
            padding-top: 5px;
            grid-row-gap: 5px;
            grid-template-areas:
            "iluminacionTitulo"
            "plsbeamtext"
            "plsbeamimg"
            "pls543text"
            "pls543img";
            border-radius: 5px;
        }
        .tecnica__iluminacion__titulo {
            font-family: 'Catamaran', sans-serif;
            color: #6D0000;
            grid-area: iluminacionTitulo;
            justify-self: center;
            align-self: center;
            font-size: 20px;
        }
        .plsbeam__text{
            font-size: 21px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: plsbeamtext;
        }
        .tecnica__iluminacion__imgbeam {
            width: 250px;
            border-radius: 5px;
            grid-area: plsbeamimg;
            justify-self: center;
            align-self: center;
            height: 250px;
        }
        .pls543__text {
            font-size: 21px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: pls543text;
        }
        .tecnica__iluminacion__img543 {
            width: 240px;
            border-radius: 5px;
            object-fit: fill;
            grid-area: pls543img;
            justify-self: center;
            align-self: center;
            height: 240px;
        }
        /* Tecnica-escenario*/
        .plantaEscenario__box {
            background-color: #9E9E9E;
            grid-area: escenario;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 25px 25px 250px 25px 250px 25px 200px 25px 200px 25px 280px;
            grid-template-areas:
            "escenarioTitulo"
            "pacheratext"
            "pacheraimg"
            "cableCanontext"
            "cableCanonimg"
            "shure57text"
            "shure57img"
            "shure58text"
            "shure58img"
            "piemicrotext"
            "piemicroimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 5px;
            border-radius: 5px;;
        }
        .plantaEscenario__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 20px;
            color: #6D0000;
            justify-self: center;
            align-self: center;
            grid-area: escenarioTitulo;
        }
        .pachera__text {
            font-size: 23px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: pacheratext;
        }
        .pachera__img {
            width: 280px;
            grid-area: pacheraimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            height: 220px;
        }
        .cableCanon__text {
            font-size: 23px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: cableCanontext;
        }
        .cableCanon__img {
            width: 200px;
            grid-area: cableCanonimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: fill;
            height: 200px;
        }
        .shure57__text {
            font-size: 23px;
            grid-area: shure57text;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            margin-left: 30px;
            color: #575757;
            width: 100px;
        }
        .shure57__img {
            width: 200px;
            grid-area: shure57img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            height: 200px;
        }
        .shure58__text {
            font-size: 22px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: shure58text;
        }
        .shure58__img {
            width: 200px;
            grid-area: shure58img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            height: 200px;
        }
        .piemicro__text {
            font-size: 22px;
            justify-self: center;
            align-self: center;
            color: #575757;
            grid-area: piemicrotext;
        }
        .piemicro__img {
            width: 200px;
            grid-area: piemicroimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            height: 280px;
        }
        /* Tecnica-PantallaLed*/
        .pantallaLed__box {
            background-color: #9E9E9E;
            grid-area: pantallaLed;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 25px 240px;
            grid-template-areas:
            "pantallaLedTitulo"
            "pantallaLedimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
        }
        .pantallaLed__titulo {
            font-family: 'Catamaran', sans-serif;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            color: #6D0000;
            grid-area: pantallaLedTitulo;
        }
        .pantallaLed__imagen {
            width: 280px;
            grid-area: pantallaLedimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: fill;
            height: 200px; 
        }
        /* contacto */
        #grid__contacto {
            background-color: #575757;
            grid-template-columns: 310px;
            grid-template-rows: 500px;
            grid-template-areas:
            "fieldset";
            display: grid;
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        
        .fieldset{
            grid-area: fieldset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            width: auto;
            height: auto;
            border: 0.5px solid #BBB9B9;
            border-radius: 5px;
            padding-top: 15px;
            padding-bottom: 10px;
        }
        .contacto__titulo {
            font-family: 'Catamaran', sans-serif;
            font-weight: bold;
            color: #6D0000;
            justify-self: center;
            align-self: center;
            font-size: 19px;
        }
        .butonEnviar {
            width: 100px;
            align-self: center;
        }
    }



/*tablet*/

@media (min-width: 768px) and (max-width: 1100px){
        body {
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        .navhambur {
            display: initial;
            border-radius: 0px 0px 10px 10px;
            background: #9E9E9E;
            padding: 0px;
        }
        .nav {
            display: none;
        }
        .img {
            display: none;
        }
        .img-nav-hambur {
            height: 65px;
            margin-bottom: 5px;
            margin-left: 25px;
        }
        .butonNav {
            margin-right: 20px;
        }
        /* Inicio-index*/
        #indexGrid__box {
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
            height: auto;  
            z-index: 1;
            display: grid;
            grid-template-columns: 720px;
            grid-template-rows: 300px 400px 200px;
            grid-template-areas: 
            "section"
            "imagen"
            "logos";
            justify-content: center;
            grid-row-gap:15px;
            padding-bottom: 45px;
        }
        .section__box {
            color: #fff;
            background-color: #9E9E9E;
            grid-area: section; 
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 5px 5px 5px 5px;
        }
        .section__text {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px;   
            color: #6D0000;      
        }
        .section__titulo {
            font-size:35px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        .imagenpapel_box {
            display: flex;
            flex-wrap: nowrap;
            background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
            background-position: cover;
            background-size: 720px 400px;
            border-radius: 5px 5px 5px 5px;
            grid-area: imagen;
        }
        .logosinicio__box {
            background-color: #9E9E9E;
            width: auto;
            height: auto;
            border-radius: 5px 5px 5px 5px; 
            grid-area: logos;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .logos__yamaha {
            height: 75px;
        }
        .logos__allen {
            height: 23px;
            margin-top: 15px;
            justify-self: left;
        }
        .logos__beringer {
            height: 130px;
            justify-self: center;
        }
        .logos__shure {
            height: 40px;
            align-self: center;
             
        }
        .footer__box {
            background-color: #6D0000;
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            z-index: 9999;
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
        } 
        .footer__rubro {
            color: #fff;
            font-family: 'catamaran';
            font-size: 22px;
            margin-left: 15px;
        }
        .redesSociales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer__titulo {
            color: #fff;
            font-family: 'catamaran';
            font-size: 15px;
        }
        .footer__insta {
            color: #fff;
            font-family: 'catamaran';
            font-size: 14px;
        }
        .footer__face {
            color: #fff;
            font-family: 'catamaran';
            font-size: 14px;
        }
         /* empresa*/
         .grid__empresa__box {
            padding-top: 105px;
            padding-bottom: 25px;
        }
        /* empresa-quienes somos*/
        .quienesSomos__box {
            background-color: #9E9E9E;   
            border-radius: 5px 5px 5px 5px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .quienessomosimg {
            width: 220px;
        }
        .card-2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .quehacemosimg {
            width: 250px;
        }
        .empresaTitulos {
            font-size: 21px;
        }
        .empresaParrafo {
            font-size: 18px;
        }
         /* galeria */
        #grid__galeria__box {
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
            height: auto;
            display: grid;
            grid-template-columns: 700px;
            grid-template-rows: 500px 750px;
            grid-template-areas: 
            "imagenes"
            "videos";
            grid-row-gap: 15px;
            z-index: 2;
            justify-content: center;
            padding-top: 100px;
            padding-bottom: 15px;
            width: 100vw;
        }
        /* galeria-Imagenes */
        .section__img__box {
            background-color: #9E9E9E;
            border-radius: 5px;  
            grid-area: imagenes; 
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            
            
        }
        .section__img__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 30px;
            color: #575757;
            display: flex;
            justify-content: center;
        }
        .img1 {
            height: 400px;
            object-fit: contain;
        }
        .img2 {
            height: 400px;
            object-fit: contain;
        }
        .img3 {
            height: 400px;
            object-fit: contain;
        }
        .img4 {
            height: 400px;
            object-fit: contain;
        }
        
        /* galeria-Videos */
        .section__video__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: videos;
            padding: 10px;
            display: grid;
            grid-row-gap: 10px;
            grid-template-columns: 680px;
            grid-template-rows: 50px 320px 320px;
            grid-template-areas: 
            "videoTitulo"
            "videoTimelapse"
            "videoIframe";
        }
        .section__video__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 30px;
            color: #575757;
            grid-area: videoTitulo;
            justify-self: center;
            align-self: center;
        }
        .section__video__timelapse {
            background-color: #575757; 
            width: 620px;
            height: 320px;
            grid-area: videoTimelapse;
            justify-self: center;
        }
        .section__video__iframe {
            grid-area: videoIframe;
            width: 620px;
            height: 320px;
            justify-self: center;
        }
        /* tecninca */
        #grid__tecnica {
            display: grid;
            grid-template-columns: 700px;
            grid-template-rows: 35px 800px 450px 1275px 380px;
            grid-template-areas:
            "tituloTecnico"
            "sonido"
            "iluminacion"
            "escenario"
            "pantallaLed";
            grid-row-gap: 15px;
            padding-top: 95px;
            padding-bottom: 15px;
            justify-content: center;
            }
        .tecnica__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 28px;
            color: #6D0000;
            grid-area: tituloTecnico;
            justify-self: center;
            }
            /* Tecnica-sonido*/
        .tecnica__sonido__box{
            grid-area: sonido;
            background-color: #9E9E9E;
            border-radius: 5px;
            display: grid;
            grid-row-gap: 5px;
            padding-top: 10px;
            grid-template-columns: 350px 350px;
            grid-template-rows: 30px 30px 350px 30px 300px ;
            grid-template-areas:
            "tituloSonido tituloSonido"
            "arraytext sq7text"
            "arrayimg sq7img"
            "racktext racktext"
            "rackimg rackimg";
            justify-content: center;
        }
        .tecnica__sonido__titulo {
            font-size: 26px;
            grid-area: tituloSonido;
            justify-self: center;
            align-self: center;
            color: #6D0000;
        }
        .linearray__text {
            font-size: 22px;
            grid-area: arraytext;
            justify-self: center;
        }
        .tecnica_sonido__linearray__img {
            background-color: #fff;
            border-radius: 5px;
            width: 290px;
            height: 320px;  
            grid-area: arrayimg; 
            justify-self: center;
            align-self: center;
        }
        .sq7__text {
            font-size: 22px;
            grid-area: sq7text;
            justify-self: center;
            margin-right: 30px;
            
        }
        .tecnica__sonido__sq7__img {
            border-radius: 5px;
            width: 320px;
            height: 320px; 
            grid-area: sq7img;
            justify-self: start;
            align-self: center;
            object-fit: fill;
        }
        .potencias__text {
            font-size: 25px;
            z-index: 13;
            grid-area: racktext;
            justify-self: center;
        }
        .tecnica__sonido__rack__img {
            border-radius: 5px;;
            width: 500px;
            height: 300px;  
            grid-area: rackimg; 
            justify-self: center;
            align-self: center;
            object-fit: fill;
        }       
        /* Tecnica-iluminacion*/
        .tecnica__iluminacion__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: iluminacion;
            display: grid;
            grid-template-columns: 350px 350px;
            grid-template-rows: 36px 35px 350px;
            padding-top: 5px;
            grid-row-gap: 5px;
            grid-template-areas:
            "iluminacionTitulo iluminacionTitulo"
            "plsbeamtext pls543text"
            "plsbeamimg pls543img" 
        } 
        .tecnica__iluminacion__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 26px;
            color: #6D0000;
            grid-area: iluminacionTitulo;
            justify-self: center;
            align-self: center;
        }
        .plsbeam__text{
            font-size: 26px;
            grid-area: plsbeamtext;
            justify-self: center;
            align-self: center;
        }
        .tecnica__iluminacion__imgbeam {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            grid-area: plsbeamimg;
            justify-self: center;
            align-self: center;
        }
        .pls543__text {
            font-size: 26px;
            grid-area: pls543text;
            justify-self: center;
            align-self: center;
        }
        .tecnica__iluminacion__img543 {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            object-fit: fill;
            grid-area: pls543img;
            justify-self: center;
            align-self: center;
        }   
        /* Tecnica-escenario*/
        .plantaEscenario__box {
            background-color: #9E9E9E;
            border-radius: 5px;;
            grid-area: escenario;
            display: grid;
            grid-template-columns: 350px 350px;
            grid-template-rows: 36px 30px 350px 30px 350px 30px 400px;
            grid-template-areas:
            "escenarioTitulo escenarioTitulo"
            "pacheratext cableCanontext"
            "pacheraimg cableCanonimg"
            "shure57text shure58text"
            "shure57img shure58img"
            "piemicrotext piemicrotext"
            "piemicroimg piemicroimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 5px;
        }
        .plantaEscenario__titulo {
            font-family: 'Catamaran', sans-serif;
            grid-area: escenarioTitulo;
            font-size: 26px;
            color: #6D0000;
            justify-self: center;
            align-self: center;
        }
        .pachera__text {
            font-size: 26px;
            grid-area: pacheratext;
            justify-self: center;
            align-self: center;
        }
        .pachera__img {
            width: 330px;
            height: 270px;
            grid-area: pacheraimg;
            justify-self: end;
            align-self: center;
            border-radius: 5px;
        }
        .cableCanon__text {
            font-size: 26px;
            grid-area: cableCanontext;
            justify-self: center;
            align-self: center;
        }
        .cableCanon__img {
            width: 290px;
            height: 270px;
            grid-area: cableCanonimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: fill;
        }
        .shure57__text {
            font-size: 26px;
            width: 100px;
            grid-area: shure57text;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            margin-left: 30px;
        }
        .shure57__img {
            width: 300px;
            height: 300px;
            grid-area: shure57img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        }
        .shure58__text {
            font-size: 26px;
            grid-area: shure58text;
            justify-self: center;
            align-self: center;
        }
        .shure58__img {
            width: 300px;
            height: 300px;
            grid-area: shure58img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        }
        .piemicro__text {
            font-size: 26px;
            grid-area: piemicrotext;
            justify-self: center;
            align-self: center;
        }
        .piemicro__img {
            width: 250px;
            height: 380px;
            grid-area: piemicroimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        }
        /* Tecnica-PantallaLed*/
        .pantallaLed__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: pantallaLed;
            display: grid;
            grid-template-columns: 700px;
            grid-template-rows: 35px 320px;
            grid-template-areas:
            "pantallaLedTitulo"
            "pantallaLedimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .pantallaLed__titulo {
            font-family: 'Catamaran', sans-serif;
            grid-area: pantallaLedTitulo;
            justify-self: center;
            align-self: center;
            font-size: 26px;
            color: #6D0000;
        } 
        .pantallaLed__imagen {
            width: 580px;
            height: 310px; 
            grid-area: pantallaLedimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: fill;
        }
        /* contacto */
        #grid__contacto {
            display: grid;
            grid-template-columns: 450px;
            grid-template-rows: 645px;
            grid-template-areas:
            "fieldset";
            justify-content: center;
            align-items: center;
            padding-top: 90px;
            height: 800px
        }
        .fieldset{
            grid-area: fieldset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 0.5px solid #BBB9B9;
            border-radius: 5px;
            padding-top: 15px;
            padding-bottom: 10px;
        }
        .contacto__titulo {
            font-family: 'Catamaran', sans-serif;
            font-weight: bold;
            color: #6D0000;
            justify-self: center;
            align-self: center;
            font-size: 23px;
        }
        .butonEnviar {
            width: 150px;
            align-self: center;
        }
    } 
 
    
    
/*desktop*/      
@media (min-width: 1100px) {
        header {
            background: #9E9E9E;
            border-radius: 0px 0px 10px 10px;
            width:auto;
        }
        body {
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        .navcustom {
            margin-bottom: 10px;
            margin-right: 50px;
            
        }
        .img {
            height: 80px;
            margin-left: 35px;
            margin-bottom: 5px;
        }
        .navhambur {
            display: none;
        }
        .link-color{
            color: #6D0000;
        }
        .navdesktop {
            margin-right: 50px;
        }
        /* Inicio-index*/
        #indexGrid__box {
            width: auto;
            height: auto;  
            z-index: 1;
            display: grid;
            grid-template-columns: 1100px;
            grid-template-rows: 400px 600px 270px;
            grid-template-areas: 
            "section"
            "imagen"
            "logos";
            justify-content: center;
            grid-row-gap:15px;
            padding-bottom: 40px;
            padding-top: 35px;
        }
        .section__box {
            color: #fff;
            background-color: #9E9E9E;
            grid-area: section; 
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 5px 5px 5px 5px;
        }
        .section__titulo {
            font-size:55px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        .section__text {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 35px; 
            color: #6D0000;        
        }
        .imagenpapel_box {
            display: flex;
            flex-wrap: nowrap;
            background-image: url(../galeria/krys-amon-vn8Falk7JbU-unsplash.jpg);
            background-position: cover;
            background-size: 1100px 600px;
            border-radius: 5px 5px 5px 5px;
            grid-area: imagen;
        }
        .logosinicio__box {
            background-color: #9E9E9E;
            width: auto;
            height: auto;
            border-radius: 5px 5px 5px 5px; 
            grid-area: logos;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .logos__yamaha {
            height: 95px;
        }
        .logos__allen {
            height: 32px;
            margin-top: 15px;
            justify-self: left;
        }
        .logos__beringer {
            height: 160px;
            justify-self: center;
        }
        .logos__shure {
            height: 50px;
            align-self: center;
        }
        .footer__box {
            background-color: #6D0000;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            z-index: 9999;
            padding-top: 15px;
            padding-bottom: 15px;
        } 
        .footer__rubro {
            color: #fff;
            font-family: 'catamaran';
            font-size: 24px;
            margin-left: 15px;
        }
        .redesSociales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer__titulo {
            color: #fff;
            font-family: 'catamaran';
            font-size: 15px;
        }
        .footer__insta {
            color: #fff;
            font-family: 'catamaran';
            font-size: 14px;
        }
        .footer__face {
            color: #fff;
            font-family: 'catamaran';
            font-size: 14px;
        }
        /* empresa*/
        .grid__empresa__box {
            padding-top: 105px;
            padding-bottom: 25px;
            height: 100vh;
        }
        /* empresa-quienes somos*/
        .quienesSomos__box {
            background-color: #9E9E9E;   
            border-radius: 5px 5px 5px 5px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .quienessomosimg {
            width: 300px;
        }
        .card-2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .quehacemosimg {
            width: 300px;
        }
        .empresaTitulos {
            font-size: 28px;
        }
        .empresaParrafo {
            font-size: 22px;
        }
        
        /* galeria */
        #grid__galeria__box {
            width: auto;
            height: auto;
            display: grid;
            grid-template-columns: 1000px;
            grid-template-rows: 750px 950px;
            grid-template-areas: 
            "imagenes"
            "videos";
            grid-row-gap: 15px;
            z-index: 2;
            justify-content: center;
            padding-top: 120px;
            padding-bottom: 20px;
        }
        /* galeria-Imagenes */
        .section__img__box {
            background-color: #9E9E9E;
            border-radius: 5px;  
            grid-area: imagenes; 
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            padding: 10px;
        }
        .section__img__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 32px;
            color: #575757;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img1 {
            height: 600px;
            object-fit: contain;
        }
        .img2 {
            height: 600px;
            object-fit: contain;
        }
        .img3 {
            height: 600px;
            object-fit: contain;
        }
        .img4 {
            height: 600px;
            object-fit: contain;
        }
        
        /* galeria-Videos */
        .section__video__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: videos;
            padding: 10px;
            display: grid;
            grid-row-gap: 10px;
            grid-template-columns: 950px;
            grid-template-rows: 50px 420px 420px;
            grid-template-areas: 
            "videoTitulo"
            "videoTimelapse"
            "videoIframe";
            justify-content: center;
        }
        .section__video__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 32px;
            color: #575757;
            grid-area: videoTitulo;
            justify-self: center;
            align-self: center;
        }
        .section__video__timelapse {
            background-color: #575757; 
            width: 800px;
            height: 420px;
            grid-area: videoTimelapse;
            justify-self: center;
        }
        .section__video__iframe {
            grid-area: videoIframe;
            width: 800px;
            height: 420px;
            justify-self: center;
        }
        /* tecninca */
        #grid__tecnica {
            display: grid;
            grid-template-columns: 1100px;
            grid-template-rows: 45px 950px 550px 1500px 480px;
            grid-template-areas:
            "tituloTecnico"
            "sonido"
            "iluminacion"
            "escenario"
            "pantallaLed";
            grid-row-gap: 15px;
            padding-top: 120px;
            padding-bottom: 20px;
            justify-content: center;
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        .tecnica__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 33px;
            color: #6D0000;
            grid-area: tituloTecnico;
            justify-self: center;
        }
        /* Tecnica-sonido*/
        .tecnica__sonido__box{
            grid-area: sonido;
            background-color: #9E9E9E;
            border-radius: 5px;
            display: grid;
            grid-row-gap: 5px;
            padding-top: 10px;
            grid-template-columns: 550px 550px;
            grid-template-rows: 32px 32px 400px 45px 400px ;
            grid-template-areas:
            "tituloSonido tituloSonido"
            "arraytext sq7text"
            "arrayimg sq7img"
            "racktext racktext"
            "rackimg rackimg";
            justify-content: center;
            }
        .tecnica__sonido__titulo {
           font-size: 29px;
           grid-area: tituloSonido;
           justify-self: center;
           align-self: center;
           color: #6D0000;
        }
        .linearray__text {
            font-size: 28px;
            grid-area: arraytext;
            justify-self: center;
        }
        .tecnica_sonido__linearray__img {
            background-color: #fff;
            border-radius: 5px;
            width: 360px;
            height: 390px;  
            grid-area: arrayimg; 
            justify-self: center;
            align-self: center;
        }
        .sq7__text {
            font-size: 28px;
            grid-area: sq7text;
            justify-self: center;
            margin-left: 20px; 
        }
        .tecnica__sonido__sq7__img {
            border-radius: 5px;
            width: 450px;
            height: 390px; 
            grid-area: sq7img;
            justify-self: center;
            align-self: center;
            object-fit: fill;
        }
        .potencias__text {
            font-size: 28px;
            grid-area: racktext;
            justify-self: center;
            align-self: center;
        }
        .tecnica__sonido__rack__img {
            border-radius: 5px;
            width: 700px;
            height: 390px;  
            grid-area: rackimg; 
            justify-self: center;
            align-self: center;
            object-fit: fill;
        }
        /* Tecnica-iluminacion*/
        .tecnica__iluminacion__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: iluminacion;
            display: grid;
            grid-template-columns: 550px 550px;
            grid-template-rows: 40px 40px 450px;
            padding-top: 5px;
            grid-row-gap: 5px;
            grid-template-areas:
            "iluminacionTitulo iluminacionTitulo"
            "plsbeamtext pls543text"
            "plsbeamimg pls543img"   
        }
        .tecnica__iluminacion__titulo {
            font-family: 'Catamaran', sans-serif;
            font-size: 29px;
            color: #6D0000;
            grid-area: iluminacionTitulo;
            justify-self: center;
            align-self: center;
        }
        .plsbeam__text{
            font-size: 28px;
            grid-area: plsbeamtext;
            justify-self: center;
            align-self: center;
        }
        .tecnica__iluminacion__imgbeam {
            width: 400px;
            height: 400px;
            border-radius: 5px;
            grid-area: plsbeamimg;
            justify-self: center;
            align-self: center;
        }
        .pls543__text {
            font-size: 28px;
            grid-area: pls543text;
            justify-self: center;
            align-self: center;
        }
        .tecnica__iluminacion__img543 {
            width: 400px;
            height: 400px;
            border-radius: 5px;
            object-fit: fill;
            grid-area: pls543img;
            justify-self: center;
            align-self: center;
        }
        /* Tecnica-escenario*/
        .plantaEscenario__box {
            background-color: #9E9E9E;
            border-radius: 5px;;
            grid-area: escenario;
            display: grid;
            grid-template-columns: 550px 550px;
            grid-template-rows: 40px 35px 400px 35px 400px 35px 500px;
            grid-template-areas:
            "escenarioTitulo escenarioTitulo"
            "pacheratext cableCanontext"
            "pacheraimg cableCanonimg"
            "shure57text shure58text"
            "shure57img shure58img"
            "piemicrotext piemicrotext"
            "piemicroimg piemicroimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 5px;
        }
        .plantaEscenario__titulo {
            font-family: 'Catamaran', sans-serif;
            grid-area: escenarioTitulo;
            font-size: 29px;
            color: #6D0000;
            justify-self: center;
            align-self: center;
        }
        .pachera__text {
            font-size: 28px;
            grid-area: pacheratext;
            justify-self: center;
            align-self: center;
        }
        .pachera__img {
            width: 490px;
            height: 340px;
            grid-area: pacheraimg;
            justify-self: end;
            align-self: center;
            border-radius: 5px;
            object-fit: cover;
        }
        .cableCanon__text {
            font-size: 28px;
            grid-area: cableCanontext;
            justify-self: center;
            align-self: center;
        }
        .cableCanon__img {
            width: 390px;
            height: 340px;
            grid-area: cableCanonimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: cover;
        }
        .shure57__text {
            font-size: 28px;
            width: 100px;
            grid-area: shure57text;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            margin-left: 30px;
        }
        .shure57__img {
            width: 400px;
            height: 400px;
            grid-area: shure57img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        }
        .shure58__text {
            font-size: 28px;
            grid-area: shure58text;
            justify-self: center;
            align-self: center;
        }
        .shure58__img {
            width: 400px;
            height: 400px;
            grid-area: shure58img;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        }
        .piemicro__text {
            font-size: 28px;
            grid-area: piemicrotext;
            justify-self: center;
            align-self: center;
        }
        .piemicro__img {
            width: 300px;
            height: 500px;
            grid-area: piemicroimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
        } 
        /* Tecnica-PantallaLed*/
        .pantallaLed__box {
            background-color: #9E9E9E;
            border-radius: 5px;
            grid-area: pantallaLed;
            display: grid;
            grid-template-columns: 1100px;
            grid-template-rows: 40px 420px;
            grid-template-areas:
            "pantallaLedTitulo"
            "pantallaLedimg";
            grid-row-gap: 5px;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .pantallaLed__titulo {
            font-family: 'Catamaran', sans-serif;
            grid-area: pantallaLedTitulo;
            justify-self: center;
            align-self: center;
            font-size: 29px;
            color: #6D0000;
        }
        .pantallaLed__imagen {
            width: 820px;
            height: 410px; 
            grid-area: pantallaLedimg;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            object-fit: fill;
        }
        /* contacto */
        #grid__contacto {
            background-color: #575757;
            display: grid;
            grid-template-columns: 550px;
            grid-template-rows: 745px;
            grid-template-areas:
             "fieldset";
            justify-content: center;
            align-items: center;
            padding-top: 90px;
            background: rgb(83,83,83);
            background: linear-gradient(180deg, rgba(83,83,83,1) 11%, rgba(208,208,208,1) 97%, rgba(255,255,255,1) 100%);
        }
        .fieldset{
            grid-area: fieldset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 0.5px solid #BBB9B9;
            border-radius: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .contacto__titulo {
            font-family: 'Catamaran', sans-serif;
            font-weight: bold;
            color: #6D0000;
            justify-self: center;
            align-self: center;
            font-size: 26px;
        }
        .butonEnviar {
            width: 150px;
            align-self: center;
        }
    }